<head>

    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="/theme/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

{#    <title>{% block title %}Foro Programacion{% endblock %}</title>#}

    <link href="/theme/comboot/comboot.css" rel="stylesheet"/>
    <link href="/theme/comboot/font-awesome.min.css" rel="stylesheet"/>
    <link href="/theme/comboot/colorpicker.min.css" rel="stylesheet"/>
    <link href="/theme/comboot/lightbox.css" rel="stylesheet"/>
    <link href="/theme/comboot/select.min.css" rel="stylesheet"/>
    <link href="/theme/comboot/syntax-highlighting.css" rel="stylesheet"/>
    <link href="/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="/theme/bootstrap.min.css" rel="stylesheet">

    <script src="/theme/comboot/jquery.min.js" type="text/javascript"></script>
    <script src="/theme/editor.js" type="text/javascript"></script>
    <script src="/theme/comboot/angular.min.js" type="text/javascript"></script>
    <script src="/theme/comboot/progressbar.min.js" type="text/javascript"></script>
    <script src="/theme/comboot/bootstrap.min.js" type="text/javascript"></script>
    <script src="/theme/comboot/colorpicker.min.js" type="text/javascript"></script>
    <script src="/theme/comboot/lightbox.min.js" type="text/javascript"></script>
    <script src="/theme/comboot/select.min.js" type="text/javascript"></script>
    <script src="/theme/comboot/syntax-highlighting.js" type="text/javascript"></script>
    <script src="/theme/comboot/comboot.js" type="text/javascript"></script>


    <link href="/theme/fontawesome/css/all.min.css" rel="stylesheet"/>
    <script src="/theme/fontawesome/js/all.min.js" type="text/javascript"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>


</head>