<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb" data-ng-app>

{% include 'head.twig' %}

<body class="section-index ltr">

{% include 'header.twig' %}

<div class="user-details container">
    {% block body %}
        <p>Contingut per defecte</p>
    {% endblock %}
</div>

</body>
</html>